.App {
  text-align: center;
}

nav {
  border-bottom: 5px solid black;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

li {
  list-style: none;
  padding: 10px;
}

.title {
  color: black;
}

.title:hover {
  text-decoration: none;
}

.prodPrice {
  font-style: italic;
}

.prodInfo {
  display: grid;
  grid-template-areas:
    "name pic"
    "price pic";
  grid-gap: 10px;
  padding: 10px;
}

.prodInfo { grid-area: prodInfo; }
.prodAdd { grid-area: prodAdd; }
.prodPic { grid-area: pic; }
.prodName { grid-area: name; }
.prodPrice { grid-area: price; }
.totalPrice { grid-area: total; }
.checkout { grid-area: checkout; }

.shoppingCart {
  display: grid;
  grid-template-areas: "total total checkout";
  grid-gap: 10px;
  padding: 10px;
}

.prod {
  display: grid;
  grid-template-areas: "prodInfo prodInfo prodAdd";
  grid-gap: 10px;
  padding: 10px;
}

.title {
  font-family: 'Brush Script MT', cursive;
}

.searchBar {
  width: 300px;
}
